#top_bar{
    background: #0daf18 !important;
    color: #0000008A !important
}

#nav-wrapper{
    background: #0daf18 !important;
}

#menu-bar-wrapper{
    background: #ffffffff;
}

ul#list-menu-bar a{
    color: #0000008A !important;
}